.vscode/**
.vscode-test/**
.git/**
.codepath/**
.gitignore
.env
.env.*

src/**
out/test/**
testdata/**
image/**
scripts/**
docs/**
notes/**

**/*.map
**/*.ts
**/*.md
!README.md
!CHANGELOG.md

*.vsix
*.log
*.txt
*.backup

tsconfig.json
.eslintrc.json
.prettierrc.json
test-*.js
